@charset "UTF-8";
 
@media screen and (min-width: 768px) and (max-width:992px) {
    body{
        background-color:  #BF6C3B;
    }
    section#login{
        width: 80vw;
        height: 320px;

    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
    div#formulario > p {
        font-size: 1.2em;
    }
}
@media screen and (min-width:992px) {
    body{
        background-color: #a16716b2;;
    }
    section#login{
        width: 950px;
        height: 400px;

    }
    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 50%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p {
        font-size: 1.2em;
    }

}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
form > div.campo{
    background-color: #a16716b2;
    border: 2px solid #a16716b2;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}
form label{
    display: none;
}
div.campo > i{
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo > input{
    background-color: rgb(245, 245, 245);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #a16716b2;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #4e320bd8;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #b3782775;
    color: white;
    border: 1px solid #a16716b2;
    border-radius: 7px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: #4e320bd8;
}
form > a.botao > i{
    font-size: 0.8em;

}